img {
    width: 300px ;
    height: 300px;
    margin-top: -100px;
}
.box1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.k {
    position: relative;
    right: 1px;
}
h2 {
    display: flex;
    align-items: center;
}
.g {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
}
hr {
    box-shadow: 15px 5px 10px;
    color: rgb(0, 0, 0);
}
.a {
    margin-top: 350px;
    position: relative;
    left: -300px;
    width: 300px;
}
.b {
    margin-top: 330px;
    position: relative;
    left: -300px;
    width: 350px;
}
.d {
    margin-top: 350px;
    position: relative;
    left: -300px;
    width: 300px;
}
.l {
    position: relative;
    left: 200px;
    bottom: 80px;
}
.ll {
    position: relative;
    left: 200px;
    bottom: 60px;
}
.lll {
    position: relative;
    left: 200px;
    bottom: 80px;
}
input {
    width: 60px;
    height: 60px;
}
.z {
    position: relative;
    top: 200px;
}
.x {
    position: relative;
    bottom: 45px;
}